html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: -45px;
}

#letter{
background-color: rgb(83, 118, 82);
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    margin: auto;
}

#image-container7,#image-container8{
	font-size: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
    font-family: 'GrundschriftRegular';
   font-weight: normal;
   font-style: normal;
   color: black;
}

#field {
	width: 240px;
	height: 320px;
}

#removeButton1 {
	background-color: #ef5959;
}

#removeButton2 {
	background-color: #ef5959;
}

#removeButton3 {
	background-color: #ef5959;
}

#removeButton4 {
	background-color: #ef5959;
}

#removeButton5 {
	background-color: #ef5959;
}

#removeButton6 {
	background-color: #ef5959;
}

#removeButton7 {
	background-color: #ef5959;
}


.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 6px;
}

.grid-item {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.grid-item button {
	padding: 10px 20px;
	font-size: 18px;
	font-weight: bold;
	border: none;
	background-color: #3ca0e4;
	color: #fff;
	border-radius: 5px;
	cursor: pointer;
	margin-bottom: 15px;
	width: 100%;
}

.grid-item .field {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	/* padding: -3px; */
	font-size: 16px;
	color: #555;
	background-color: #f7f7f7;
	overflow: hidden;
	margin: -12px;
}

@media only screen and (orientation: landscape) and (min-width: 1280px) and (min-height: 800px) {
	.grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
}